<div class="row">
    <h2 class="align-center">{{ customerForm.value._id ? customerForm.value.name : "Add Customer" }}</h2>
    <div class="eight columns offset by-two">
        <form [formGroup]="customerForm">
            <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Full Name" formControlName="name" name="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" name="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" formControlName="phoneNumber" name="phoneNumber">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Notes</mat-label>
                <textarea matInput placeholder="Notes" formControlName="notes" name="notes">Notes</textarea>
            </mat-form-field>
            <button mat-stroked-button class="offset by-three" (click)="saveCustomer()" [disabled]="!customerForm.value.name">Save</button>
            <button mat-stroked-button class="offset by-one" (click)="clearForm()">Clear</button>
            <button mat-stroked-button class="offset by-one" (click)="deleteCustomer()" [disabled]="!customerForm.value._id">Delete</button>
        </form>
    </div>
</div>